<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.pixelexperience.faceunlock">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CAMERA_OPEN_CLOSE_LISTENER"/>
    <uses-permission android:name="android.permission.SYSTEM_CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.MANAGE_BIOMETRIC" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC_INTERNAL" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>

    <application
        android:name="org.pixelexperience.faceunlock.FaceApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher_face_unlock"
        android:label="@string/app_name"
        android:resizeableActivity="false"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:persistent="true"
        android:allowClearUserData="false">
        <activity
            android:name="org.pixelexperience.faceunlock.SetupFaceIntroActivity"
            android:enabled="true"
            android:excludeFromRecents="true"
            android:exported="true"
            android:label="@string/title_activity_face_intro"
            android:screenOrientation="portrait"
            android:theme="@style/SettingsTheme" />
        <activity
            android:name="org.pixelexperience.faceunlock.FaceEnrollActivity"
            android:excludeFromRecents="true"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/SettingsTheme" />
        <activity
            android:name="org.pixelexperience.faceunlock.FaceFinish"
            android:excludeFromRecents="true"
            android:label="@string/facelock_setup_notification_text"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/SettingsTheme" />
        <activity
            android:name="org.pixelexperience.faceunlock.FaceTryAgain"
            android:excludeFromRecents="true"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/SettingsTheme" />
        <activity
            android:name="org.pixelexperience.faceunlock.FaceUpgradeFinish"
            android:excludeFromRecents="true"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/SettingsTheme" />

        <service
            android:name="org.pixelexperience.faceunlock.service.FaceAuthService"
            android:exported="true"
            android:label="@string/app_name"
            android:permission="android.permission.MANAGE_BIOMETRIC">
            <intent-filter>
                <action android:name="org.pixelexperience.faceunlock.BIND" />
            </intent-filter>
        </service>
    </application>
</manifest>